[submodule ".config/bat/syntaxes.link/orca-sublime"]
	path = .config/bat/syntaxes.link/orca-sublime
	url = https://github.com/mrymtsk/orca-sublime
[submodule ".config/bat/themes.link/one-dark-theme"]
	path = .config/bat/themes.link/one-dark-theme
	url = https://github.com/andresmichel/one-dark-theme
[submodule ".config/bat/themes.link/nord-sublime-text"]
	path = .config/bat/themes.link/nord-sublime-text
	url = https://github.com/mrymtsk/nord-sublime-text
[submodule ".config/tmux.link/plugins/tmux-prefix-highlight"]
	path = .config/tmux.link/plugins/tmux-prefix-highlight
	url = https://github.com/tmux-plugins/tmux-prefix-highlight
